<div class="card product-card" style="width: 18rem">
    <img src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body product-desc">
        <h4>Product Name</h4>
        <p>Small Description</p>
    </div>
    <div class="product-desc-hover">
        <i class="fa-solid fa-cart-plus"></i>
        <span></span>
        <i class="fa-solid fa-heart"></i>
    </div>
    <span class="price"><strike>$150</strike> $100</span>
</div>