<footer id="footerz" class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Account</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Purchases</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ecomsell Premium</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Seller Feature</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
  <span id="developers">
    <!-- <img src="../uploads/Logo.png"> -->
  <p class="text-center text-body-secondary">© 2024 Ecomsell, Inc</p>
</span>
</footer>