{% extends 'base.html' %}
{% block title %}Log in{% endblock %}

{% block Login %}

<div class="login">
    <h2>Log in</h2>
    <div class="container">
    <div class="row justify-content-md-center"></div>
    <form action="{{url_for('login')}}" method="POST">
            {{form.hidden_tag()}}
            <div class="email">
                {{form.email.label}}<br>
                {{form.email(size=50)}}<br>
                {{form.email.errors}}

            </div>

            <div class="password">
                {{form.password.label}}<br>
                {{form.password(size=50)}}<br>
                {{form.password.errors}}

            </div>

            <div class="submit">
                {{form.submit()}}
            </div>
            


    </form>
</div>
</div>
</div>

{% endblock %}