{% extends 'usersetting.html'%}

{% block user_profile %}

<div id="editdet_content">
    <h2>User Settings</h2>
    <hr>
    <div class="container-userdet">
        <div class="profile_section">
          <img src="uploads/6697ca05a90d25bee28cc956.png"
                alt="profile picture" class="profilepicture">
            <div class="pencilicon">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pencil" id="pencilicon"></i></a>
            </div>
        </div>
        <hr class="sm-line">
        <h4>{{user.username}} <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pencil" id = "editusername"></i></a></h4>
        <h4>{{user.email}}</h4>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('userprofile')}}" method="POST">
                    {{edit_profile_form.username.label}}
                    {{edit_profile_form.username(class="form-control", value= user.username)}}
                </div>
                <div class="modal-footer">
                    {{ edit_profile_form.submit(class="btn btn-primary") }}
                </form>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}