{% extends 'base.html'%}

{% block content %}

<div class="container">
    <br>
    <h3>Hello, {{user.username}}</h3>
    <h5>What would you like to access?</h5>
    <br>
    <div class="row">
        <div class="col-md-3">

            <button type="button" class="btn btn-lg btn-light" id="userdetails">User Details</button> <br />

            <button class="btn btn-lg btn-light" type="button" id="purchases">Purchased</button> <br />

            <button type="button" class="btn btn-lg btn-light" id="editdet"><a href="/userprofile">Edit Details</a></button> <br />

            <button class="btn btn-lg btn-light" type="button" id="addresses"><a href = "{{ url_for('addressprofile' )}}">Addresses saved</a></button> <br />

            <button type="button" class="btn btn-lg btn-light" id="notifs">Notification settings</button> <br />
            <a href="{{url_for('logout')}}" style="text-decoration: none;">
                <button type="button" class="btn btn-lg btn-light">Signout</button>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            
            {% block user_profile %}
            {% endblock %}

            {% block addresses %}
            {% endblock %}
            
            <div id="purchases_content">
                <h1>You've purchased nothing at the moment</h1>
            </div>
           
            <div id="notifs_content">
                <h1>notifs huh?</h1>
            </div>
        </div>
    </div>


    {% endblock %}