{% extends 'base.html'%}

{% block content %}

<div class="container">
    <br>
    <h3>Hello, {{user.username}}</h3>
    <h5>What would you like to access?</h5>
    <br>
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-lg btn-light" id="editdet"><a href="{{url_for('userprofile')}}">Edit Details</a></button> <br />

            <button class="btn btn-lg btn-light" type="button" id="purchases"><a href="{{url_for('purchases')}}">Purchased</a></button> <br />

            <button class="btn btn-lg btn-light" type="button" id="addresses"><a href = "{{ url_for('addressprofile' )}}">Addresses saved</a></button> <br />

            <button type="button" class="btn btn-lg btn-light" id="notifs"><a href="{{ url_for('notifications') }}">Notification settings</a></button> <br />
            <a href="{{url_for('logout')}}" style="text-decoration: none;">
                <button type="button" class="btn btn-lg btn-light">Signout</button>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            
            {% block user_profile %}
            {% endblock %}

            {% block addresses %}
            {% endblock %}
            
            {% block purchases %}
            {% endblock %}
           
            {% block notification %}
            {% endblock%}
            
        </div>
    </div>


    {% endblock %}